<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <h1>Attendance Management System</h1>
        <div class="login-form">
            <h2>Login</h2>
            <form id="loginForm" method="post" action="/login">
                <label for="role">Select User Type:</label>
                <select id="role" name="role">
                    <option value="admin">Admin</option>
                    <option value="teachers">Teacher</option>
                    <option value="students">Student</option>
                </select>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" value="Login">Login</button>
                <!-- <p id="error-msg"></p> -->
            </form>
            <p><a href="/forgot-password">forget password</a></p>
        </div>
    </div>
</body>
</html>